<h1>Game#score</h1>
<p>Your word: <%= params[:attempt] %></p>
<!-- puts "Time Taken to answer: #{result[:time]}" -->
<p>Translation: <%= @translation %></p>
<p>Time: <%= @time %></p>
<p>Your score: <%= @score_message[0] %></p>
<p>Message: <%= @score_message[1] %></p>

